* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Spartan, Work Sans;
    font-weight: 400, 500, 700;
}

body {
    background: #121214;
}

main {
    display: flex;
}

.main-section {
    background: #121214;
    width: 50%;
    height: 100vh;
    z-index: 1;
    padding-top: 50px;
    padding-left: 35px;
    padding-right: 5px;
}

.bkgd {
    position: absolute;
    height: 100vh;
    width: 50%;
    right: 0;
}

.img-bkgd {
    object-fit: cover;
    object-position: right;
    width: 100%;
    height: 100%;
}

.logo {
    width: 80%;
    height: 94px;
}

h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #08C05E;
}

h2 {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.content {
    margin-top: 90px;
    margin-bottom: 50px;
}

form {
    display: inline-block;
}

label {
    display: block;
    color: rgba(168, 168, 168, 1);
    margin-bottom: 20px;
    font-weight: 700;
}

input {
    border-style: none;
    width: 750px;
    height: 50px;
    padding-left: 10px;
    box-shadow: -5px 0px 0px 0px #08C05E;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    transition-duration: 0.2s;
}

input:hover {
    background-color: #ffffffe7;
}

button {
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(130, 87, 229, 1);
    cursor: pointer;
    transition-duration: 0.2s
}

button:hover {
    background-color: rgb(112, 78, 194);
}

.send-email {
    display: inline-flex;
    width: 100%;
}

.let-me-read {
    display: inline-flex;
    margin-top: 1em
}

@media (max-width: 1120px) {
    input {
        width: 50vw;
    }
    .main-section {
        width: 55%;
    }
    .img-bkgd {
        object-position: center;
    }
}

@media (max-width:850px) {
    .main-section {
        width: 55%
    }
}

@media (max-width:770px) {
    .logo {
        width: 250px;
    }
    .content {
        margin-top: 45px;
    }
}

@media (max-width:580px) {
    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background: #121214;
        width: 100%;
        height: 80%;
        z-index: 1;
        padding-top: 50px;
        padding-left: 35px;
        padding-right: 5px;
    }
    .bkgd {
        display: none;
    }
    .let-me-read {
        display: inline-flex;
        margin-top: 1em;
        margin-bottom: 2em;
    }
    .send-email {
        display: inline-flex;
        width: 100%;
    }
    .logo {
        width: 80%;
    }
    input {
        width: 80%;
    }
}